@{
    @using MVC.Models.ViewModels;
    @using Jobs.Common;
    @using Jobs.Data;
    @using Jobs.Data.WorkingPerson.Employee;
    @using MVC.Services;
    @model WorkingPersonViewModel
    @inject UserHandlerService UserHandlerService
    @inject OfferHandler OfferHandler
    ViewData["Title"] = "WorkingPerson Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">OfferType</th>
                        <th scope="col">Name</th>
                        <th scope="col">Details</th>
                        <th scope="col">NeededSkills</th>
                        <th scope="col">Offerer</th>
                        <th scope="col">Receiver</th>
                        <th scope="col">Employees</th>
                        <th scope="col">Accepted</th>
                        <th scope="col">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (JobOffer offer in Model.ManagedJobOffers)
                    {
                    <tr>
                        <td>@offer.OfferType.ToString()</td>
                        <td>@offer.JobData.Name</td>
                        <td>@offer.JobData.Details</td>
                        <td>
                            <ul>
                                @foreach (Skill skill in offer.JobData.NeededSkills)
                                {
                                    <li>
                                        @skill.Name : @skill.RangeOfKnowledge
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>@offer.Offerer.Contact.Name</td>
                        <td>@offer.Receiver?.Contact.Name</td>
                        <td>
                            <ul>
                                @foreach (Employee employee in offer.JobData.Employees)
                                {
                                    <li>
                                        @employee.Contact.Name
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>@offer.Accepted?.ToString()</td>
                        @if (offer.Accepted == null && offer.OfferType != OfferType.Advertisement)
                        {
                            <td>
                                <a class="btn btn-primary" asp-action="AcceptJobOffer" asp-controller="WorkingPerson" asp-route-SelectedJobDataName="@offer.JobData.Name">Accept</a>
                                <a class="btn btn-primary" asp-action="DeclineJobOffer" asp-controller="WorkingPerson" asp-route-SelectedJobDataName="@offer.JobData.Name">Decline</a>
                            </td>
                        }
                        else
                        {
                            <td>No task needed</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>