@{
    @using MVC.Models.ViewModels;
    @model EmployeeViewModel
    ViewData["Title"] = "Edit Reference";
}

<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm(FormMethod.Get))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Reference.Name)
                    @if (Model.EditReference == true)
                    {
                        @Html.DisplayTextFor(model => model.Reference.Name)
                        @Html.HiddenFor(model => model.Reference.Name)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Reference.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Reference.Name)
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Reference.Details)
                    @Html.TextBoxFor(model => model.Reference.Details, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Reference.Details)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Reference.Url)
                    @Html.TextBoxFor(model => model.Reference.Url, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Reference.Url)
                </div>
                @if (Model.EditReference == true)
                {
                    <input id="Submit" type="submit" value="Update" asp-controller="Employee" asp-action="UpdateMyReference" class="btn btn-primary">
                }
                else
                {
                    <input id="Submit" type="submit" value="Create" asp-controller="Employee" asp-action="CreateMyReference" class="btn btn-primary">
                }
            }
        </div>
    </div>
</div>