@{
    @using MVC.Services;
    @using MVC.Models.ViewModels;
    @using Jobs.Data;
    @using Jobs.Data.WorkingPerson.Employee;
    @inject UserHandlerService UserHandlerService
    @model WorkingPersonViewModel
}

@foreach (JobOffer advertisement in Model.ManagedAdvertisements)
{
    <tr>
        <td>@advertisement.JobData.Name</td>
        <td>@advertisement.JobData.Details</td>
        <td>
            <ul>
                @foreach (Skill skill in advertisement.JobData.NeededSkills)
                {
                    <li>
                        @skill.Name : @skill.RangeOfKnowledge
                    </li>
                }
            </ul>
        </td>
        <td>@advertisement.JobData.Employer.Contact.Name</td>
        <td>
            <ul>
                @foreach (Employee employee in advertisement.JobData.Employees)
                {
                    <li>
                        @employee.Contact.Name
                    </li>
                }
            </ul>
        </td>
        <td>
            @advertisement.JobData.CalculateSuitability(UserHandlerService.ActiveEmployee)
        </td>
        <td>
            @*
                Job not already taken
                And has no unhandled offering for this job
            *@
            @if (!advertisement.JobData.Employees.Contains(UserHandlerService.ActiveEmployee)
            && !UserHandlerService.ActiveEmployee.OfferedJobOffers.Any(offer => offer.JobData.Name == advertisement.JobData.Name && offer.Accepted == null))
            {
            <a asp-controller="Employee" asp-action="ApplyForJob" asp-route-JobNameForApplication="@advertisement.JobData.Name">Apply for job</a>
            }
            else
            {
            <p>Already in Employees or applied for job</p>
            }
        </td>
    </tr>
}